<div >
  <div class="footer-1 d-flex justify-content-evenly align-items-center">
    <ul >
      <li class="">GroceryStore</li>
      <li><i class=""></i><span>Address:</span><span>value</span></li>
      <li><i class=""></i><span>Address:</span><span>value</span></li>
      <li><i class=""></i><span>Address:</span><span>value</span></li>
      <li><i class=""></i><span>Address:</span><span>value</span></li>
    </ul>
    <ul  >
      <li class="">Account</li>
      <li><i class=""></i><span>Address:</span><span>value</span></li>
      <li><i class=""></i><span>Address:</span><span>value</span></li>
      <li><i class=""></i><span>Address:</span><span>value</span></li>
      <li><i class=""></i><span>Address:</span><span>value</span></li>
    </ul>
    <ul  >
      <li class="">Usefull Links</li>
      <li><i class=""></i><span>Address:</span><span>value</span></li>
      <li><i class=""></i><span>Address:</span><span>value</span></li>
      <li><i class=""></i><span>Address:</span><span>value</span></li>
      <li><i class=""></i><span>Address:</span><span>value</span></li>
    </ul>
    <ul  >
      <li class="">Help Center</li>
      <li><i class=""></i><span>Address:</span><span>value</span></li>
      <li><i class=""></i><span>Address:</span><span>value</span></li>
      <li><i class=""></i><span>Address:</span><span>value</span></li>
      <li><i class=""></i><span>Address:</span><span>value</span></li>
    </ul>
  </div>
</div>
<div>
  <div class="d-flex justify-content-between align-items-center footerr">
    <span class="ms-4">&copy; 2023,All rights reserved</span>

    <span class="me-4">
      <i class="fa-brands fa-facebook ms-2"></i>
      <i class="fa-brands fa-linkedin ms-2"></i>
      <i class="fa-brands fa-twitter ms-2"></i>
      <i class="fa-brands fa-instagram ms-2"></i>
    </span>
  </div>
</div>
