<div >
  <div class="footer-1 d-flex justify-content-between ">
    <div class="me-5">
      <ul class="first-footer-col" >
        <span class=""><img width="30px" src="../../../assets/Filled_outline.png" alt=""> Grocery Store</span>
        <li><i class=""></i><span class="green-clr">Address:</span><span>1762 School House Road</span></li>
        <li><i class=""></i><span>Customer Support:</span><span> 1233-777</span></li>
        <li><i class=""></i><span>Email:</span><span>grocerystore@contact.com</span></li>
        <li><i class=""></i><span>Work Hours:</span><span>8:00 AM - 12:00 PM</span></li>
      </ul>

    </div>
  

      <ul class="">
        <li class="">Account</li>
        <li><i class=""></i><span>Wishlist</span></li>
        <li><i class=""></i><span>Cart</span></li>
        <li><i class=""></i><span>Track Order</span></li>
        <li><i class=""></i><span>Shipping Details</span></li>
      </ul>
      <ul  >
        <li class="">Usefull Links</li>
        <li><i class=""></i><span>About Us</span></li>
        <li><i class=""></i><span>Contact</span></li>
        <li><i class=""></i><span>Hot Deals</span></li>
        <li><i class=""></i><span>Promotions</span></li>
        <li><i class=""></i><span>New Products</span></li>
      </ul>
      <ul  class="last-footer-ui ">
        <li class="">Help Center</li>
        <li><i class=""></i><span>Payments</span></li>
        <li><i class=""></i><span>Refund</span></li>
        <li><i class=""></i><span>Checkout</span></li>
        <li><i class=""></i><span>Shipping</span></li>
        <li><i class=""></i><span>Q & A</span></li>
        <li><i class=""></i><span>Privacy Policy</span></li>
      </ul>
   
  </div>
</div>
<div>
  <div class="d-flex justify-content-between align-items-center footerr">
    <span class="ms-4">&copy; 2023,All rights reserved</span>

    <span class="me-4">
      <i class="fa-brands fa-facebook ms-2"></i>
      <i class="fa-brands fa-linkedin ms-2"></i>
      <i class="fa-brands fa-twitter ms-2"></i>
      <i class="fa-brands fa-instagram ms-2"></i>
    </span>
  </div>
</div>
