$green:$green;
.green-clr{
    color:$green;
}
.green-bg{
    background: $green;
}
.header {
    border: 1px solid $green;

    height: 70px;
    color:$green;
    h4{
        padding: 30px;
        margin: 0px;
    }
    button{
        background: $green ;
        width: 90px;
        height: 50px;
        color: #fff;
        border: 1px solid $green;
        border-radius: 70px;
        margin-right: 20px;
        i{
            color: #fff;
        }
    }
    span{
        input{
            color: inherit;
            font-family: inherit;
            font-size: 80%;
            font-weight: inherit;
            line-height: inherit;
            margin: 0;
            padding: 0;
        border-radius: 0.25rem;
        border-width: 1px;
        color: rgb(35 125 100);
        font-weight: 500;
        outline: 2px solid transparent;
        outline-offset: 2px;
        padding: 0.75rem 2.5rem 0.75rem 1rem;
        width: 90%;
        }
        i{
            position: relative;
            right: 30px;
            
        }
    }


}
.header2 {
    border: 1px solid $green;
   height: 70px;
   .browse{
    background: $green ;
    border: none;
    color: #fff;
    border-radius: 4px;
    height: 36px;
    img {
        color: white;
        
        width: 16px;
        align-self: center;
        
    }

    
   } 
   .home_menu{
    color: $green;
    border: none;
    
    background:#00000000;
  


   }
   .menu{
        color:rgb(77, 76, 76);
        border-radius: 2px;
        border: none;
        background:#00000000;
   

    }
   
}
.footerr{
    height: 80px;
    border: 1px solid $green;
    margin: 0px;
    

    
}
.small-card{
    height: 194px;
    width: 153px;
    border-radius: 3px;
    background: #F2FCE4;
    // FFF3FF
    // F2FCE4
    // FEEFEA
    // FFFCEB
    // FEEFEA
    p{
        color: gray;
    }

}
.section-1{
    div{
        margin-bottom: 30px
    }       
}
.section-2{
    div{
        margin-bottom: 30px
    }       
}
.footer-1{
    height: 270px;
    border: 1px solid $green;
    margin: 0px;

    ul{
        li{

            margin-top: 8px;
        }
       
        
        list-style: none;
        color: $green;
    }


}
.section-3{
    .offer-1{
        background:#F2FCE4 ;
        width: 592px;
        height: 300px;
        padding: 30px;
        .btn-1{
            color: white;
            background: $green;
            width: 86px;
            height: 26px;
            border: none;
        }
        .btn-2{
            color: white;
            background: $green;
            width: 143px;
            height: 52px;
            border: none;
        }

    }
    .offer-2{
        background: #F2FCE4;
        width: 592px;
        height: 300px;
        padding: 30px;
        .btn-1{
            color: white;
            background: $green;
            width: 86px;
            height: 26px;
            border: none;
        }
        .btn-2{
            color: white;
            background: $green;
            width: 143px;
            height: 52px;
            border: none;
        }
    }
}
.section-4{
    .part-1{

        div {
            margin-bottom: 30px;
            button{
                border: none;
                color: white;
                background: #F35244;
                margin-left: 15px;
                
                border-radius: 4px;
            }      
        } 
        span{
            button{
                border: none;
                border-radius: 50%;
                color: #00000022;
                background: lightgray;
                margin-left: 6px;
            } 
        }
    }
}
.medium-card-2{
    height: 387px;
    width: 228px;
    background: #fff;
    border: 0.3px solid #e6a793aa;
    img{
        width: 192px;
        height: 122px;
    }
    
    div > button.add-cart{
        background-color: #F2FCE4;
        border-radius: 3px;
        border: 1px solid ;
        color: $green; 
    }

}
.medium-card{
    height: 302px;
    width: 228px;
    background: #fff;
    border: 0.3px solid #e6a793aa;

    
    button{
        background-color: #F2FCE4;
        border-radius: 3px;
        border: 1px solid ;
        color: $green; 
    }

}