$green:$green;
.green-clr{
    color:$green;
}
.green-bg{
    background: $green;
}
.header {
    border: 1px solid $green;

    height: 70px;
    color:$green;
    h4{
        padding: 30px;
        margin: 0px;
    }
    button{
        background: $green ;
        width: 90px;
        height: 50px;
        color: #fff;
        border: 1px solid $green;
        border-radius: 70px;
        margin-right: 20px;
        i{
            color: #fff;
        }
    }
    span{
        input{
            color: inherit;
            font-family: inherit;
            font-size: 80%;
            font-weight: inherit;
            line-height: inherit;
            margin: 0;
            padding: 0;
        border-radius: 0.25rem;
        border-width: 1px;
        color: rgb(35 125 100);
        font-weight: 500;
        outline: 2px solid transparent;
        outline-offset: 2px;
        padding: 0.75rem 2.5rem 0.75rem 1rem;
        width: 90%;
        }
        i{
            position: relative;
            right: 30px;
            
        }
    }


}
.header2 {
    border: 1px solid $green;
   height: 70px;
   .browse{
    background: $green ;
    border: none;
    color: #fff;
    border-radius: 4px;
    height: 36px;
    img {
        color: white;
        
        width: 16px;
        align-self: center;
        
    }

    
   } 
   .home_menu{
    color: $green;
    border: none;
    
    background:#00000000;
  


   }
   .menu{
        color:rgb(77, 76, 76);
        border-radius: 2px;
        border: none;
        background:#00000000;
   

    }
   
}
.footerr{
    height: 80px;
    border: 1px solid $green;
    margin: 0px;
    

    
}
.small-card{
    height: 194px;
    width: 153px;
    border-radius: 3px;
    background: #F2FCE4;
    // FFF3FF
    // F2FCE4
    // FEEFEA
    // FFFCEB
    // FEEFEA
    p{
        color: gray;
    }

}
.medium-card{
    height: 302px;
    width: 228px;
    border: 1px solid #e6a793;

}